# Ignore API project config files to prevent conflicts in Web builds
DigitalMe/appsettings*.json
DigitalMe/web.config
DigitalMe/Dockerfile*

# Standard .NET ignores
**/bin/
**/obj/
**/.vs/
**/TestResults/
**/.vscode/
**/.idea/
**/node_modules/
**/logs/
