# Ignore Web project config files to prevent conflicts in API builds
src/DigitalMe.Web/appsettings*.json
src/DigitalMe/web.config
src/DigitalMe/Dockerfile*

# Standard .NET ignores
**/bin/
**/obj/
**/.vs/
**/TestResults/
**/.vscode/
**/.idea/
**/node_modules/
**/logs/
